body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-image: url(./assets/background_register.jpg)
}

.refer{
    text-align: center;
    color: white;
}

body:hover{
    background-color: bisque;
}
form {
    width: 400px;
    margin: 0 auto;
}
input{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 2px solid red;
}
button {
    background-color: red;
    color: white;
    border: 2px dotted yellowgreen;
    border-radius: 2px;
    cursor: pointer;
    
   
}
button:hover {
    background-color: #1eff;
    border: 2px solid white;

}
.error-message {
    color: red;
}
h2{
    text-align: center;
    font-size: 42px;
    color: red;
}

#style{
    height: 26px;
    max-width: 300px;
    border: 2px solid;
    border-radius: 2px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    text-align: center;
}

#style:hover{
    border: 2px dotted #0000;
}
#style2{
    font-size: 21px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 0px red;
    color: white;
}
.password-input{
    height: 26px;
    max-width: 300px;
    border: 2px solid;
    border-radius: 2px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    text-align: center;
}

a{
    color: green;
    font-weight: bold;

}

a:hover{
    color:red;
}

form{
    align-items: center;
    text-align: center;
}

img{
    padding-right: 60%;
}