body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1{
    color: white;
}

.wrapper{
width: 25%;
padding: 20px;
justify-content: center;
background-color: grey;
padding: 50px;
box-shadow: 10px 10px 5px rgb(82, 11, 77);
margin: 120px auto;
text-align: center;
}

.wrapper .container li a{
    color: bisque;
    cursor: pointer;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
}

banner-text #download-button {
    margin-right: .75em;
    color: #fea44c !important;
    background: 0 0;
    box-shadow: inset 0 0 0 .15em #FEA44C,0 2px 20px #563719;
    text-shadow: 0 2px 5px #563719;
  }