body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond', serif;
    background-image:url(https://bit.ly/3snLRnE);
    background-size: cover;
    color: #333;
}


h1 {
    font-size: 3em;
    text-align: center;
}

.developer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.developer-info {
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}



h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    color: #080808;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
