body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #333399, #ff00cc);
}

.credits-container {
    text-align: center;
}

.credits-container h1 {
    font-size: 36px;
    top: 20%;
}

.credits-list {
    list-style: none;
    padding: 0;
    background-color: #0000;
}

.credits-list li {
    margin: 10px 0;
}

.credits-list li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.main-container .credits-list li{
    background-color: #1eff;
    text-align: center;
}